<div class="container w-75 ">
    <div class="row justify-content-center">

         <div class="col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <button (click)="Revert()" class="btn btn-danger">Revert</button>
                </div>
        <div class="col-md-6 d-flex justify-content-center">
            <input class="form-control btn btn-primary" type="file" (change)="readURL($event);">
        </div>
            </div>
            <div class="row justify-content-center top-buffer">
        <div class="col-md-8 d-flex justify-content-center" >
            <img id="Image" [src]="imageSrc == null ?'./assets/Images/Image.jpg':imageSrc"  height="400" alt="Image Here">
        </div>
      
            </div>
            <div class="row top-buffer "  >
        <div *ngFor="let preset of Filters;index as i" class="col-md-2 top-buffer">
            <img (click)="ApplyPreset(preset.Filter)" [ngStyle]="{'filter':preset.Filter ,'height':'50px' }" [src]="imageSrc == null ?'./assets/Images/Image.jpg':imageSrc"  alt="Image Here">
       <p  class="text-center text-white">{{preset.Name}}</p>
        </div>
            </div>
        </div>
 

        <div class="col-md-6 ">

            <div  *ngFor="let prop of properities;index as i " class="control control--range row">
                   
                    <div class="col-md-6">
                        <label for="">{{prop.Name}}</label>
                    </div>

                    <div class="col-md-6">
                        <input [(ngModel)]=prop.Value (change)="ApplyFilter()"  type="range" name={{prop.Name}} min="0" max="100"  step="1">
                    </div>
            </div>
        
        </div>
 


    </div>
    
</div> 


